@keyframes coverAnim {
  0% {
    width: 0%; }
  100% {
    width: 99%; } }

@keyframes textAnim {
  0% {
    opacity: 0;
    top: 1.5rem; }
  100% {
    top: 0;
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

body {
  background-color: #F2F2F2; }

.bye {
  position: fixed;
  left: 150%; }

.list-size {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  user-select: none; }

.cont {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  height: 100vh;
  width: 100vw; }

.grid {
  width: 168vh;
  height: 84vh;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  transition: .3s; }
  .grid--hide {
    left: -100%; }

.menu {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  width: 88vw;
  height: 8vh; }
  .menu_nav {
    display: flex;
    list-style-type: none;
    user-select: none; }
    .menu_nav_item {
      position: relative;
      font-family: "Lato", sans-serif;
      color: #737373;
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: .1rem;
      margin: 0 1rem 0 1rem;
      padding: 1rem 0 1rem 0;
      transition: .3s; }
      .menu_nav_item_border {
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        transition: .3s; }
        .menu_nav_item_border_line {
          stroke: #262626;
          stroke-width: 5px; }
        .menu_nav_item_border--show {
          width: 100%; }
      .menu_nav_item--selected {
        color: #262626; }
      .menu_nav_item:active {
        transform: scale(1.05); }
      .menu_nav_item:nth-child(1) {
        margin-left: 0; }
  .menu_on-air {
    position: relative;
    font-family: "Lato", sans-serif;
    color: #737373;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    margin: 0 1rem 0 1rem;
    padding: 1rem 0 1rem 0;
    transition: .3s;
    user-select: none;
    display: flex;
    align-items: center; }
  .menu_user-menu {
    display: flex;
    list-style-type: none;
    user-select: none;
    align-items: center; }
    .menu_user-menu_item {
      position: relative;
      font-family: "Lato", sans-serif;
      color: #737373;
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: .1rem;
      margin: 0 1rem 0 1rem;
      padding: 1rem 0 1rem 0;
      transition: .3s; }
      .menu_user-menu_item--selected {
        color: #262626; }
      .menu_user-menu_item:active {
        transform: scale(1.05); }

.card-one {
  display: flex; }
  .card-one_button-wrapper {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3rem; }
    .card-one_button-wrapper_buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .card-one_button-wrapper_buttons_up, .card-one_button-wrapper_buttons_down {
        font-family: "Lato", sans-serif;
        margin-right: 2rem;
        height: 4rem;
        font-size: 3rem;
        user-select: none;
        transition: .2s;
        vertical-align: middle; }
        .card-one_button-wrapper_buttons_up:active, .card-one_button-wrapper_buttons_down:active {
          transform: scale(1.05); }
  .card-one_list-size {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    user-select: none; }

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .card_border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    fill: none;
    z-index: 0; }
    .card_border_line {
      stroke: #737373;
      stroke-width: 1px; }
  .card_portrait {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 100%;
    opacity: 0;
    transition: .3s;
    z-index: 1; }
    .card_portrait--show {
      left: 0;
      opacity: 1; }
  .card_title {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 3rem;
    z-index: 2;
    box-sizing: border-box; }
    .card_title_text {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 1.8rem;
      color: #262626;
      width: 100%;
      user-select: none; }
      .card_title_text--white {
        color: #F2F2F2; }
    .card_title_genre-text {
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      color: #535353;
      user-select: none; }
    .card_title_add {
      position: absolute;
      right: 3rem;
      font-family: "Lato", sans-serif;
      font-size: 4rem;
      user-select: none; }
      .card_title_add--white {
        color: #F2F2F2; }
  .card_bottom {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 3rem;
    box-sizing: border-box;
    z-index: 2; }
    .card_bottom_date {
      font-family: "Lato", sans-serif;
      font-size: 1rem;
      color: #737373;
      user-select: none; }
      .card_bottom_date::before {
        content: "["; }
      .card_bottom_date::after {
        content: "]"; }
    .card_bottom_portrait {
      position: absolute;
      right: 3rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%; }
      .card_bottom_portrait--hide {
        visibility: hidden; }
    .card_bottom_play {
      position: absolute;
      right: 3rem;
      font-family: "Lato", sans-serif;
      font-size: 1.2rem;
      color: #737373;
      text-decoration: underline;
      user-select: none;
      visibility: hidden; }
      .card_bottom_play--show {
        visibility: visible;
        cursor: pointer; }
  .card_cover {
    position: absolute;
    right: 0;
    top: 1rem;
    width: 0%;
    height: 100%;
    background-color: #F2F2F2;
    z-index: 3; }
  .card-content-animation--part-one {
    animation-name: coverAnim;
    animation-duration: 0.4s;
    animation-timing-function: linear; }
    .card-content-animation--part-one--back {
      animation-delay: 0.4s;
      animation-direction: reverse; }
  .card-content-animation--part-two {
    animation-name: textAnim;
    animation-duration: 0.4s;
    animation-delay: 0.4s;
    animation-timing-function: linear; }
    .card-content-animation--part-two--back {
      animation-delay: unset;
      animation-direction: reverse; }

.audio-player {
  position: absolute;
  bottom: 0;
  height: 8vh;
  width: 100vw;
  background-color: white;
  display: flex; }
  .audio-player_icon {
    width: 6vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .audio-player_icon > i {
      font-size: 6rem;
      user-select: none;
      color: #262626; }
  .audio-player_song-info {
    display: flex;
    max-width: 22vw;
    box-sizing: border-box; }
    .audio-player_song-info_picture {
      max-width: 8vh; }
    .audio-player_song-info_title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      margin: 0 2rem 0 2rem; }
      .audio-player_song-info_title_artist {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 1.7rem;
        color: #262626;
        user-select: none; }
      .audio-player_song-info_title_name {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        color: #737373;
        user-select: none; }
  .audio-player_controls {
    display: flex; }
    .audio-player_controls_buttons {
      display: flex;
      height: 8vh;
      justify-content: flex-start;
      align-items: center;
      user-select: none; }
      .audio-player_controls_buttons > i {
        color: #262626;
        font-size: 3rem;
        margin: 0 .5rem 0 .5rem;
        transition: .2s; }
        .audio-player_controls_buttons > i:nth-child(2) {
          font-size: 4rem; }
        .audio-player_controls_buttons > i:active {
          transform: scale(1.05); }
    .audio-player_controls_bar {
      width: 57vw;
      display: flex;
      position: relative; }
      .audio-player_controls_bar_progress-bar {
        align-self: center;
        width: 94%;
        height: .5rem;
        border-radius: 9rem;
        margin-left: 2rem;
        background-color: #F2F2F2; }
        .audio-player_controls_bar_progress-bar::before {
          font-style: "Lato", sans-serif;
          content: "09:30";
          font-size: 1.1rem;
          position: relative;
          top: -1.5rem;
          font-weight: 700;
          color: #737373; }
        .audio-player_controls_bar_progress-bar::after {
          font-style: "Lato", sans-serif;
          content: "15:12";
          font-size: 1.1rem;
          position: relative;
          left: 95%;
          top: -1.5rem;
          font-weight: 700;
          color: #737373; }
      .audio-player_controls_bar_progress-fill {
        position: absolute;
        align-self: center;
        width: 30%;
        height: .5rem;
        border-radius: 9rem;
        margin-left: 2rem;
        background-color: #D94625; }
    .audio-player_controls_volume {
      display: flex;
      height: 8vh;
      width: 15vw; }
      .audio-player_controls_volume > i {
        color: #262626;
        align-self: center;
        font-size: 4rem;
        margin: 0 .5rem 0 .5rem;
        transition: .2s; }
      .audio-player_controls_volume_control {
        display: flex;
        position: relative;
        width: 100%; }
        .audio-player_controls_volume_control_bar {
          align-self: center;
          width: 80%;
          height: .5rem;
          border-radius: 9rem;
          background-color: #F2F2F2; }
        .audio-player_controls_volume_control_fill {
          align-self: center;
          position: absolute;
          width: 70%;
          height: .5rem;
          border-radius: 9rem;
          background-color: #737373; }

.modal {
  z-index: 1;
  position: fixed;
  width: 0vw;
  height: 20vh;
  background-color: #D94625;
  top: 10vh;
  transition: .3s;
  overflow: hidden;
  padding: 0; }
  .modal > h1 {
    font-size: 4rem;
    user-select: none;
    display: inline;
    color: #F2F2F2; }
  .modal_text {
    position: relative;
    top: 3rem;
    font-size: 2rem;
    color: #F2F2F2; }
  .modal_close {
    float: right;
    font-size: 3rem;
    user-select: none;
    color: #F2F2F2; }
  .modal--show {
    width: 50vw;
    padding: 3rem; }
