.modal{
    z-index: 1;
    position: fixed;
    width: 0vw;
    height: 20vh;
    background-color: $color-orange;
    top: 10vh;
    transition: .3s;
    overflow: hidden;

    padding:0;
    
    &>h1{
        font-size: 4rem;
        user-select: none;
        display: inline;
        color:$color-light-grey;
    }
    &_text{
        position: relative;
        top:3rem;
        font-size: 2rem;
        color:$color-light-grey;
    }
    &_close{
        float: right;
        font-size: 3rem;
        user-select: none;
        color:$color-light-grey;
    }
    &--show{
        width: 50vw;
        padding:3rem;
    }
}